{% extends 'base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% load static %}
{% load socialaccount %}

{% load static %}


{% block content %}

<br>


<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-md-4">
            </div>
            <div class="col-xs-6 col-md-4">



                <div>
                    <h1>login with google</h1>
                    <h1>gauRENTeed login</h1>
                    {% if user.is_authenticated %}
                    <p>Welcome, You are logged in as {{ user.username }}</p>
                    {% else %}
                    <a href="{% provider_login_url 'google' %}">Login With Google</a>
                    {% endif %}
                </div>

                <form role="form" class="form-horizontal" method="post" action="">{% csrf_token %}
                    <div class="form-group">

                        <label for="id_username" class="usernametag">USERNAME</label>
                        <input id="id_username" name="username" type="text" class="username-control-login">

                        <label for="id_password" class="passwordtag">PASSWORD</label>
                        <input id="id_password" name="password" type="text" class="password-control-login">
                        <br>

                        <input type="submit" class="signup_button" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>

                <br>
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>username or password not correct</strong>
                </div>
                {% endif %}

                <br>
                <h2 class="notausertag">Not a user?</h2>

                <br>
                <div class="signupbuttondiv">
                    <div class="button">
                        <a href="{% url 'signup' %}">Signup through google facebook or us with just a few
                            clicks!</a>
                        <div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
            </div>
        </div>

        <br>


    </div>

</div>
{% endblock %}