{% extends 'base.html' %} {% load static %} {% block styles %} {% endblock %} {%
load static %} {% load static %} {% block content %}

<br />
<br />

<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4" id="loginBox">
        <div class="Logincontent">
          <!-- <h1>login with google</h1> -->
          <h1>Login to access all Redland reviews</h1>
          {% if user.is_authenticated %}
          <p>Welcome, You are logged in as {{ user.username }}</p>
          {% else %} {% endif %}
          <br />
          <form
            role="form"
            class="form-horizontal"
            method="post"
            action="{% url 'login' %}"
          >
            {% csrf_token %}
            <div class="form-group">
              <label for="id_username" class="usernametag">USERNAME</label>
              <input
                id="id_username"
                name="username"
                type="text"
                class="username-control-login"
              />

              <label for="id_password" class="passwordtag">PASSWORD</label>
              <input
                id="id_password"
                name="password"
                type="password"
                class="password-control-login"
              />
              <br />
              <input type="submit" class="signup_button" />
              <h1>{{ urlsString }}</h1>
              {% if urlsString == none %}
              <input type="hidden" name="next" value="/" />
              {% else %}
              <input type="hidden" name="next" value="/{{ urlsString }}" />
              {% endif %}
            </div>
          </form>
          {% if loginerror == true %}
          <div class="alert alert-danger">
            <strong>username or password not correct</strong>
          </div>
          {% endif %}

          <!-- <br>
                <h2 class="notausertag">Not a user?</h2>

                <br> -->
        </div>
      </div>
      <div class="col-xs-6 col-md-4"></div>
    </div>

    <br />
  </div>
</div>
{% endblock %}
