{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <link rel="icon" href="{% static "images/landing/keyIcon.png" %}">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}"> -->
    <title>Reviews</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GF2CYGLGME"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GF2CYGLGME');
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    {% block styles %} {% endblock %}
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function () {
        return "resources/images/transparent.gif";
      };
      $axure.utils.getOtherPath = function () {
        return "resources/Other.html";
      };
      $axure.utils.getReloadPath = function () {
        return "resources/reload.html";
      };
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/sharedStyles.css' %}"
    />
    <link type="text/css" href="@@path/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">


    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '429001025326375'); 
  fbq('track', 'PageView');
  </script>
  <noscript>
  <img height="1" width="1" 
  src="https://www.facebook.com/tr?id=429001025326375&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
  
  </head>

  <body>
    <div class="topnav">
      <a href="{% url 'landing' %}">
        <img class="logo" src={% static "images/landing/keyIcon.png" %} />
      </a>
      <h6 class="nav-item" id="gaurenteedTab">
        <a class="nav-link" href="{% url 'landing' %}" id="gaurenteedWord"
          >GuaRENTeed</a
        >
      </h6>
      <div class="floatRight">
        <h6 class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}" id="findaproperty">Find a property</a>
        </h6>
        <h6 class="nav-item">
          <a id="findaproperty" class="nav-link" href="https://www.guarenteed.org/reasult/5c455f0d-641e-4285-8910-fbf77d68e7aa/" >Example review</a>
        </h6>
        <h6 class="nav-item">
          <a
            class="nav-link" id="leaveareview"
            href="https://docs.google.com/forms/d/1ZG2k3OS-v5eqCF87ZN5K8iR0Umcg7C2uzY2EP3wR22I/edit"
            >Leave a review</a>
        </h6>

        {% if user.is_authenticated %}
        <h6 class="nav-item">logged in as: {{request.user.username}}</h6>
        <h6 class="nav-item">
          <a class="nav-link" id="logoutb" href="{% url 'logout' %}">Logout</a>
        </h6>
        {% else %}
        <h6 class="nav-item">
          <a class="nav-link" id="logintb" href="{% url 'login' %}">Login</a>
        </h6>
        {% endif %}
      </div>
    </div>
    <br />
    <!-- paage rendered here -->
    <div class="row">
      <div class="col"></div>
      <div class="col-10">{% block content %} {% endblock %}</div>
      <div class="col"></div>
    </div>
    <br />
    <br />
    <br />
    <!-- make this sent to bottom of page.. -->
  </body>
</html>
