{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{% static "images/landing/logoPurple.png" %}">

    <title>search</title>
    <meta charset="utf-8"/>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GF2CYGLGME"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GF2CYGLGME');
    </script>

    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function () {
        return "resources/images/transparent.gif";
      };
      $axure.utils.getOtherPath = function () {
        return "resources/Other.html";
      };
      $axure.utils.getReloadPath = function () {
        return "resources/reload.html";
      };
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/landing.css' %}"/>
  </head>

  <body>
    <div class="row" id="tophalf">

    <div class="topnav">
      <a href="{% url 'landing' %}">
        <img class="logo" src={% static "images/landing/keyIcon.png" %} />
      </a>
      <h6 class="nav-item" id="gaurenteedTab">
        <a class="nav-link" href="{% url 'landing' %}" id="gaurenteedWord"
          >Guarenteed</a
        >
      </h6>
      <div class="floatRight">
        <h6 class="nav-item">
          <a id="findaproperty" class="nav-link" href="{% url 'landing' %}" >Find a property</a>
        </h6>
        <h6 class="nav-item">
          <a id="findaproperty" class="nav-link" href="{% url 'landing' %}" >Example review</a>
        </h6>
        <h6 class="nav-item">
          <a
          id="leaveareview" class="nav-link" 
            href="https://docs.google.com/forms/d/e/1FAIpQLSfEMVLlGoX0YkhiqItTKH_xA2Cqj0jH4XVqLFE_duOY_C3bXA/viewform"
            >Leave a review</a
          >
        </h6>

        {% if user.is_authenticated %}
        <h6 class="nav-item" style="text-decoration:underline;">logged in as: {{request.user.username}}</h6>
        <h6 class="nav-item">
          <a class="nav-link" id="logoutb" href="{% url 'logout' %}">Logout</a>
        </h6>
        {% else %}
        <h6 class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </h6>
        {% endif %}
      </div>
    </div>

    <!-- paage rendered here -->
      <br>
      <br>
        <h1 class="landingTitle">Avoid living with regret next year</h1>
        <h2 class="subheader">See what you can’t see in a house viewing. Read over 200 detailed reviews of Redland properties.</h2>

          
                      <!-- <h4 class="card-title">Find it!</h4> -->
                      <div class=enterFormDiv>
                      <form action={% url 'landing' %} method="post" id="rearchForm">{% csrf_token %}
                        <input type="text" placeholder="   Enter the address" id='property' name='property' autocomplete="on">
                        <button type="submit" class="landingButton" id="landingButton" form="rearchForm" value="Submit">Step Inside</button>
                      </form>
                      <!-- {{ messages.tags }} -->
                      {% if messages %}

                        {% for message in messages %}
                        <br>
                      <div class="alert alert-danger">
                        <strong>Sorry we do not have reviews for this property. Try another!</strong>
                      </div>
                        {% endfor %}

                      {% endif %}
                    </div>
                
          

              <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              
              <script>
                $(function () {
                  $("#property").autocomplete({
                    source: "{% url 'landing' %}"
                  });
                });
              </script>
              <br>
              <br>
              <br>
    </div>

    <br>
    <div class="row" id="benefits">
      <div class="col-3">
        <img class="" src={% static "images/landing/Ellipse3.png" %} />
        <h5>One point</h5>

      </div>
      <div class="col-3">
        <img class="" src={% static "images/landing/Ellipse3.png" %} />
        <h5>One point</h5>

      </div>
      <div class="col-3">
        <img class="" src={% static "images/landing/Ellipse3.png" %} />
        <h5>One point</h5>

      </div>
      <div class="col-3">
        <img class="" src={% static "images/landing/Ellipse3.png" %} />
        <h5>One point</h5>

      </div>
    </div>
    <div class="row" id="aboutguarenteed">
      <h1>About Guarenteed</h1>

      <br>
      <!-- <hr> -->

      <h4>Our aim is to address the inbalence of power between landlords and tennents. After having successive bad experiences with rental properties in the bristol and London we set up guarnteed to address the inbalence of power between landlords and tennents. We want to give tennants more infromation about the place they are looking to rent so they can make a more informed decision about the property and ultimately have a better rental experience.

        We are running a pilot of the idea in brisol. This is very much a pilot to please be patuent and understanding about any issues you see. 
        </h4>
        <div class="col-3">
          <img class="" src={% static "images/landing/Ellipse3.png" %} />
          <hr>
          <h5>Oli Richardson</h5>

        </div>
        <div class="col-3">
          <img class="" src={% static "images/landing/Ellipse2.png" %} />
          <hr>

          <h5>Matt Segal</h5>

        </div>
        <div class="col-3">
          <img class="" src={% static "images/landing/Ellipse4.png" %} />
          <hr>

          <h5>Oz Kilim</h5>

        </div>
        <div class="col-3">
          <img class="" src={% static "images/landing/Ellipse1.png" %} />
          <hr>

          <h5>Michael Amery</h5>

        </div>
<h4>If you have any feedback for the idea or the website or want to partner
  with us or get involved then email us at: 

  </h4>
  <h3>guarenteedteam@gmail.com</h3>
    </div>
    <!-- make this sent to bottom of page.. -->
  </body>
</html>












