/* * {
  font-family: "Gill Sans" !important;
} */
.ax_default {
  font-weight: 400;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: center;
  line-height: normal;
  text-transform: none;
}

body {
  font-weight: 400;
  font-family: "Gill Sans" !important;
  font-style: initial;
  background-color: white;
  /* font-weight: 310; */
}

.img {
  max-width: 15%;
  height: auto;
}

.topnav {
  overflow: hidden;
  background-color: #4464f6;
  font-size: 30px;
}
.nav-item {
  display: inline-block;
  color: 
  #FAFAFA;
}
.nav-link {
  color: 
  #FAFAFA;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #4464F6;
}

.logo {
  max-width: 60px;
  padding-left: 30px;
}
.loginbutton {
  background-color: orange;
  color: 
  #FAFAFA;
  display: inline-block;
  border-radius: 10px;
  border-bottom: orange;
  /* width: 55px; */
}

#loginBox {
  text-align: center;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
}
.Logincontent {
  /* padding-top: 30px; */
}
form {
  width: 100%;
  min-width: 100%;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}
input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: 
  #FAFAFA;
}
.signup_button {
  background: #4464f6;
  color: #FAFAFA;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
.signup_button:hover {
  filter: contrast(200%);
}
.floatRight {
  float: right;
  padding-right: 100px;
}
#gaurenteedWord {
  /* font-size: 30px; */
}
