.ax_default {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: center;
  line-height: normal;
  text-transform: none;
}

body {
  font-family: "Gill Sans" !important;
  font-style: initial;
  background-color: white;
  font-weight: 310;
}

.img {
  max-width: 15%;
  height: auto;
}

.topnav {
  overflow: hidden;
  background-color: #4464f6;
  font-size: 30px;
}
.nav-item {
  display: inline-block;
  color: white;
}
.nav-link {
  color: white;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #2c3c63;
  color: white;
}

.logo {
  max-width: 60px;
  padding-left: 30px;
}
.loginbutton {
  background-color: orange;
  color: white;
  display: inline-block;
  border-radius: 10px;
  border-bottom: orange;
  /* width: 55px; */
}

#loginBox {
  text-align: center;
  color: white;
  background-color: #2c3c63;
  border-radius: 20px;
}

.floatRight {
  float: right;
  padding-right: 100px;
}
#gaurenteedWord {
  /* font-size: 30px; */
}
