.ax_default {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: center;
  line-height: normal;
  text-transform: none;
}

body {
  font-family: "Lucida Sans" !important;
  font-style: initial;
}

.img {
  max-width: 15%;
  height: auto;
}

.topnav {
  overflow: hidden;
  color: black !important;
}
.nav-item {
  display: inline-block;
  color: black !important;
}
.nav-link {
  color: black !important;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #2c3c63;
  color: white !important;
}

.logo {
  max-width: 50px;
}
.loginbutton {
  background-color: orange;
  color: white;
  display: inline-block;
  border-radius: 10px;
  border-bottom: orange;
  /* width: 55px; */
  text-align: center;
}
